.hidden {
  display: none !important;
}

.invalid {
  color: var(--form-element-invalid-border-color);
}


.url-input-wrapper {
  display: flex;
}

.url-input-wrapper input {
  width: 100%;
  margin: 0;
}

.url-input-wrapper button {
  width: auto;
  margin: 0 0 0 0.5rem;
}


#url-output-container {
  display: flex;
  align-items: center;
}

#shortend-url {
  margin-left: 0.5rem;
}

#copy-btn {
  margin-left: auto;
  padding: 0.2rem 0.6rem;
}


.icon-title-wrapper {
  display: flex;
  margin-bottom: 1rem;
}

.icon-title-wrapper svg {
  color: var(--h3-color);
}

.icon-title-wrapper h3 {
  align-self: center;
  margin: 0 0 0 0.7rem;
}
